body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(143, 156, 115);
  font-family: 'Lexend Peta', sans-serif;
}

h1 {
  text-align: center;
}

.sortbar {
  text-align: center;
  padding: 15px;
}

#searchForm {
  display: flex;
  justify-content: space-evenly;
}

#searchForm > * {
  padding: 10px;
  font-size: 18px;
}

#searchForm > input {
  width: 40%;
}

#sortingButtonsContainer {
  margin: 10px;
  font-weight: bold;
}

#sortingButtonsContainer > span {
  padding: 10px;
}

.sortingButtons:hover {
  box-shadow: 1px 1px 5px black;
  color: firebrick;
  background-color: rgb(152, 161, 132);
  cursor: pointer;
}

.avengersListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.avengerContainer {
  text-align: center;
  margin: 15px auto;
  border: 2px solid firebrick;
  padding: 15px;
  width: 40%;
  border-radius: 10px;
}

.avengerContainer > a {
  text-decoration: none;
  color: black;
}

.avengerContainer:hover {
  box-shadow: 3px 3px 15px black;
  background-color: rgb(152, 161, 132);
  cursor: pointer;
}

#errMsg {
  font-size: 30px;
  text-align: center;
  color: firebrick;
  font-weight: bold;
  margin: 25px;
}